body{
    background-color: black;
    color: rgb(144, 147, 150);
}


ul {
    list-style: none;
    padding-left: 0;
}

.centered-content {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tabs {
    display: flex;
}

.tabs-content li {
    border: 1px solid rgb(144, 147, 150);
    border-radius: 5px;
    padding: 20px;
    width: 40vw;
}

.tabs-title {
    padding: 20px;
    background-color: #252422;
    color: #736F72;
    cursor: pointer;
}

.tabs-title.active {
    background-color: #CCC5B9;
    color: #FFFCF2;
}


.tab-element{
    display: none;
}

.tab-element.active {
    display: block;

}