body{
    background-color: black;
}

button {
    border-radius: 20%;
    width: 80px;
    height: 80px;
    font-weight: 700;
}

button:active {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.image-to-show {
    width: 400px;
    height: 400px;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.images-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    position: relative;
    width: 410px;
    height: 410px;
}

.start-button {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
}

.start-button:hover {
    background-color: #4CAF50;
    color: white;
}

.stop-button {
    background-color: white;
    color: black;
    border: 3px solid #C1666B;
}

.stop-button:hover {
    background-color: #C1666B;
    color: white;
}

.timer {
    background-color: #4357AD;
    text-align: center;
    margin-bottom: 30px;
    width: 70px;
    height: 16px;
}

.button-wrapper {
    display: flex;
    margin: 10px;
    gap: 50px;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    margin: 50px auto;
    width: 100%;
    justify-content: center;
    align-items: center;
    column-gap: 4rem;
}