@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html,
body {
    height: 100%;

}

a {
    text-decoration: none;
    color: white;
}

h1 {
    font-size: 88px;
}

h2 {
    font-size: 34px;
}

h3 {
    font-size: 24px;
}

h1,
h2,
h3 {
    margin: 0;
    padding: 0;
}



/* --------------------------------------------Header Section----------------------------------------------------- */
.container {
    max-width: 1190px;
    min-width: 1100px;
    width: 100%;
    padding: 0 15px;
}


.header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(94, 93, 88, 0.6);
}

.header__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    padding: 27px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

.header__logo-img {
    width: 58px;
    height: 67px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: #ffffff;
    font-weight: bold;
    background-image: url(../images/bg_logo.png);
    background-repeat: no-repeat;
    background-position: center;
}

.header__logo-text {
    font-size: 32px;
    transition: color 0.3s;
}

.Ham-text {
    color: #18cfab;
    font-weight: bold;
    transition: color 0.3s;
}

.header__logo:hover .header__logo-text {
    color: #18cfab;
}

.header__logo:hover .header__logo-text .Ham-text {
    color: #fff;
}

.header__menu ul {
    display: flex;
    height: 100%;
    list-style-type: none;
}

.menu__item {
    width: 100%;
    height: 100%;
    margin: 0 10px;
}

.menu__item-link {
    position: relative;
    display: flex;
    height: 100%;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    color: #c5c5c4;
    transition: color 0.5s;
}

.menu__item-link::after {
    content: '';
    position: absolute;
    bottom: -51px;
    width: 0%;
    height: 2px;
    background: #00000000;
    transition: background 0.5s, 0.5s;
}

.menu__item-link:hover,
.menu__item-link.active {
    color: #18cfab;
}

.menu__item-link:hover::after,
.menu__item-link.active::after {
    width: 100%;
    left: 0;
    background: #18cfab;
}

.menu__item-link_text {
    align-self: center;
    color: inherit;
}



/*-----------------------------------------------------Main screen-----------------------------------------------------*/

.main-screen {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    min-height: 580px;
    background-image: url(../images/Backgrounds/headerBackground.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}


.main-screen__row {
    margin-top: auto;
    margin-bottom: auto;
}

.main-screen__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

.main-screen__item-name {
    text-transform: uppercase;
    margin-bottom: 20px;
    font-weight: bold;
}

.main-screen_green-text {
    color: #18cfab;
}

.main-screen__item-slogan {
    text-transform: uppercase;
    margin-bottom: 20px;
    font-weight: bold;
}

.main-screen__item-content {
    text-transform: capitalize;
    color: #d4d4d4;
    font-weight: normal;
}

.main-screen__buttons {
    display: flex;
    gap: 25px;
    margin: 120px 0 30px;
}

.button {
    width: 170px;
    height: 60px;
    font-size: 15px;
    color: white;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    border-radius: 6px;
    position: relative;
    box-shadow: 0px -5px 0px white;
    margin-top: 6px;
}

.btn-green {
    background-color: #18cfab;
    transition: 0.2s;
}

.btn-blue {
    background-color: #00cbf6;
    transition: 0.2s;
}

.btn-blue:hover {
    background-color: #33dbfc;
    transition: 0.2s;

}

.btn-green:hover {
    background-color: #2ee1be;
    transition: 0.2s;
}

.btn-green:active,
.btn-blue:active {
    box-shadow: 0 -5px #b3b3b3;
    transform: translateY(2px);

}


/*----------------------------------------------------------Four Options Banner----------------------------------------------------------------*/

.four__options-banner {
    position: relative;
}

.banner__items {
    display: flex;
    list-style-type: none;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.banner__item {
    flex: auto;
    height: 377px;
    text-align: center;
    padding: 10px 10px 110px;
    text-transform: uppercase;
    font-weight: bold;
    color: #18cfab;
    background: #1c2a33;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.banner__item:nth-child(even) {
    color: #fff;
    background: #18cfab;
}

.banner__item-img {
    height: 100px;
    margin-bottom: 45px;
    background-position: center bottom;
    background-repeat: no-repeat;
}

.banner__item:nth-child(1) .banner__item-img {
    background-image: url('../images/banners/fingerBanner.png');
}

.banner__item:nth-child(2) .banner__item-img {
    background-image: url('../images/banners/diamondBanner.png');
}

.banner__item:nth-child(3) .banner__item-img {
    background-image: url('../images/banners/bulbBanner.png');
}

.banner__item:nth-child(4) .banner__item-img {
    background-image: url('../images/banners/deviceBanner.png');
}

/*----------------------------------------------------------Our Services Tabs----------------------------------------------------------------*/

.services {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 90px 0;
}

.our-services__title {
    font-weight: 300;
    color: #4e4e4e;
}

.main-our-services__content {
    text-align: center;
}

.our-services__tabs {
    margin-top: 90px;
}

.our-services__tabs-menu {
    display: flex;
    flex-wrap: nowrap;
    list-style-type: none;
    justify-content: space-between;
}

.tabs-menu__item-link {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 0 154.33px;
    padding: 27px 0;
    background: #f8fcfe;
    border: 1px solid #edefef;
    cursor: pointer;
    font-size: 16px;
    color: grey;
    transition: border 0.2s, color 0.2s;
    box-sizing: content-box;
}

.tabs-menu__item-link:hover {
    border: 1px solid #18cfab;
    color: #18cfab;

}

.tabs-menu__item-link.active {
    border: 1px solid #18cfab;
    background: #18cfab;
    color: white;

}

.tabs-menu__item-link.active::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    left: 50%;
    transform: translateX(-20%);
    bottom: -26px;
    border: 0;
    border: 15px solid transparent;
    border-top: 13px solid #18cfab;
}

.our-services__tabs-content {
    list-style-type: none;
    margin-top: 25px;
    overflow: hidden;
    position: relative;
}

.tabs-content__item {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    display: none;
    padding-top: 40px;

}

.tabs-content__item.active {
    opacity: 1;
    display: flex;
}

.tabs-content__item-text {
    font-size: 14px;
    line-height: 24px;
    text-align: justify;
}


/*-------------------------------------------------Purchase offer---------------------------------------------------*/

.purchase-offer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 90px 0;
    background-repeat: no-repeat;
}

.purchase-offer::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: brightness(21%);
    background-image: url(../images/Backgrounds/OfferSectionBg.jpg);
    background-position: 50% 42%;
    background-attachment: fixed;
}

.purchase-offer__items {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.purchase-offer__title {
    color: #18cfab;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

.purchase-offer__text {
    margin: 25px 0 70px;
    color: #d8d8d8;
}

/*----------------------------------------------Our amazing work------------------------------------------------------*/


.our-amazing-work {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 90px 0;
    background: #e9edef;
}

.our-amazing-work__title {
    font-weight: 300;
    color: #4e4e4e;
}

.main-our-amazing-work__content {
    text-align: center;
}

.our-amazing-work__images-menu {
    margin-top: 100px;
}

.our-amazing-work__images-menu {
    display: flex;
    list-style-type: none;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}


.images-menu__item-link {
    position: relative;
    flex: 0 0 160px;
    padding: 28px 0;
    background: #e9edef;
    border: 1px solid #d3d1d1;
    color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 14px;
    transition: border 0.3s, color 0.3s;
}

.our-amazing-work__button {
    gap: 2px;
}

.images-menu__item-link:first-child {
    flex: 0 0 90px;
}

.images-menu__item-link.active,
.images-menu__item-link:hover {
    border: 1px solid #18cfab;
    color: #18cfab;
}

.our-work__images-content {
    margin: 70px 0;
}

.our-work__images-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.images-content__item {
    display: grid;
    grid-template-columns: 285px;
    grid-template-rows: 205px;
}

.images-content__item-front,
.images-content__item-back {
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transition: 0.3s ease;
    grid-row-start: 1;
    grid-column-start: 1;
}

.images-content__item-front {
    position: relative;
    flex: 1 0 285px;
    height: 205px;
    overflow: hidden;
    cursor: pointer;
    transition: 0.3s;
}

.images-content__item:hover .images-content__item-front {
    opacity: 0;
}

.images-content__item-back {
    background: #e1e4e6;
    opacity: 0;
}

.images-content__item:hover .images-content__item-back {
    opacity: 1;
}

.images-content__item-img img {
    object-fit: fill;
    width: 100%;
    height: 100%;
}

.images-content__item-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: relative;
}


.item-text__circles {
    display: flex;
    gap: 10px;
    margin: 0 0 30px;
    list-style-type: none;
}

.item-text__circles li {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid #18cfaa;
    width: 50px;
    height: 50px;
}

.item-text__circles div {
    width: 50px;
    height: 50px;
    border: 1px solid #18cfab;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-text__circles .button-circle-white {
    color: #18cfab;
    cursor: pointer;
    background-color: white;
    transition: color 0.3s;
}

.item-text__circles .button-circle-white:hover {
    color: #;
    background: none;
}

.item-text__circles .button-circle-green {
    color: #18cfab;
    background: white;
    cursor: pointer;
    transition: color 0.3s;
}

.item-text__circles .button-circle-green:hover {
    color: #18cfab;
    background: none;
}

.item-text__title {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

.item-text__subtitle {
    margin: 10px 0;
    font-size: 12px;
    color: grey;
    text-transform: capitalize;
}


.our-amazing-work__images-content {
    margin: 70px 0;
}

.our-amazing-work__images-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/*--------------------------------------------------Breaking news-----------------------------------------------------*/

.main-breaking-news {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 90px 0;
}

.breaking-news__title {
    font-weight: 300;
    color: rgb(89, 86, 86);
}

.main-breaking-new__content {
    text-align: center;
}

.breaking-news__news-content {
    margin-top: 90px;
}

.breaking-news__news-content {
    list-style-type: none;
    display: grid;
    justify-items: stretch;
    align-items: stretch;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
}

.news-content__item {
    cursor: pointer;
    color: gray;
}

.news-content__item-img {
    overflow: hidden;
    position: relative;
    display: flex;
}

.news-content__item-img img {
    object-fit: fill;
    width: 100%;
    transition: 0.3s, 0.3s;
}

.news-content__item-img_date {
    position: absolute;
    padding: 0 15px;
    right: 0;
    top: 0;
    width: 70px;
    height: 68px;
    background: #203e38;
    color: #fff;
    font-size: 16px;
    line-height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 0.3s;
}

.news-content__item:hover .news-content__item-img_date {
    background: #18cfab;
}

.news__item-text_title {
    font-weight: bold;
    line-height: 40px;
    text-align: left;
    padding-left: 10px;
    transition: color 0.3s;
}

.news-content__item:hover .news__item-text_title {
    color: #18cfab;
}

.news-content__item:hover .news-content__item-img img {
    filter: brightness(90%);
    transform: scale(1.1);
}

.news__item-text_caption {
    display: flex;
    font-size: 14px;
}

.caption_author,
.caption_comment {
    padding: 0 10px;
}

.caption_author {
    border-right: 1px solid grey;
}

/*---------------------------------------------What People Say About theHam------------------------------------------------*/

.main-about {
    height: 110vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 90px 0;
}

.main-about::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: brightness(50%);
    background-image: url(../images/Backgrounds/OpinionSectionBg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}


.main-about__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.about__title {
    color: white;
    font-weight: 300;
}

.about__quotes {
    font-size: 40px;
    color: #18cfab;
}

.about__text {
    font-size: 16px;
    line-height: 30px;
    margin: 10px 0 50px;
}

.about-slider {
    margin: 100px 0 0;
    width: 100%;
}

.about-slider__items {
    height: 470px;
    margin-bottom: 10px;
    list-style-type: none;
    overflow: hidden;
    position: relative;
}

.slider__info {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: gray;
    opacity: 0;
    transition: all ease 0.3s;
    top: 10px;
}

.slider__info.active {
    opacity: 1;
    top: 0;
}

.slider__info-name {
    text-transform: uppercase;
    color: #18cfab;
    font-weight: bold;
    margin-bottom: 10px;
}

.slider__info-photo {
    user-select: none;
    margin: 40px 0;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    border: 10px solid #18cfaa3b;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
}

.slider__info-photo img,
.item-photo img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}

.about-slider__carousel {
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.carousel__items-photo-wrapper {
    width: 390px;
    height: 90px;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.carousel__items-photo {
    list-style-type: none;
    user-select: none;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    transform: translateX(-160px);
}

.item-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    overflow: hidden;
    border-radius: 50%;
    border: 5px solid #18cfaa3b;
    transition: all ease 0.3s;
    cursor: pointer;
    position: relative;
    top: 0;
}

.item-photo:hover {
    border: 5px solid #12a789;
}

.item-photo.active {
    width: 70px;
    height: 70px;
    position: relative;
    top: -7px;
    transition: 0.3s;
    border: 5px solid #18cfaa;
}

.carousel-btn {
    width: 30px;
    height: 30px;
    font-size: 12px;
    border: 1px solid white;
    color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
}

.carousel-btn:hover {
    border: 1px solid #18cfaa;
    background: #18cfaa;
    color: white;
}


/*---------------------------------------------Footer------------------------------------------------*/

.footer {
    display: flex;
    justify-content: center;
    background: #22353f;
}

.footer__text {
    font-size: 14px;
    height: 90px;
    display: flex;
    align-items: center;
    color: #aeaeae;
}

.footer__text a {
    color: #18cfab;
    transition: color 0.3s;
}

.footer__text a:hover {
    color: white;
}

/*---------------------------------------------Page up------------------------------------------------*/

.page-up {
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 15px;
    right: 15px;
    border-radius: 60%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    cursor: pointer;
    opacity: 0;
    transition: 0.3s;
}

/*---------------------------------------------Loader------------------------------------------------*/

.loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100vh;
    color: #12a789;
    background-color: #00000098;
    display: none;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 0.3s;
}

.loader-wrapper.enable {
    display: flex;
    transition: all 0.3s;
}

.loader {
    height: 170px;
    width: 170px;
    font-size: 150px;
    animation: load 1.2s infinite linear;
}

@keyframes load {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}