button {
    width: 120px;
    height: 50px;
    font-weight: 700;
    border-radius: 30%;
    cursor: pointer;
    color: #121111;
    border: 2px solid #E4B564;
    background-color: #979797;
}

.bright-background {
    background-color: #979797;
    transition: ease 1.5s;
}




/*-----------------------------------Change color button----------------------------------- */

body {
    display: flex;
    background-color: #121111;
    justify-content: center;
    transition: ease 1.5s;
}

.main-container {
    width: 1460px;
    height: 100vw;
}

header {
    width: 1460px;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-img {
    height: 33px;
    width: 216px;

}

.call-back-buttom {
    display: flex;
    justify-content: center;
    align-items: center;
    Width: 218px;
    Height: 50px;
    border: 1px solid #E4B564;
    color: #E4B564;
    background-color: transparent;
}

.vector-img {
    margin-right: 5px;
    width: 13px;
    height: 13px;
}

.top-button-text {
    font-size: 18px;
}

a:link {
    text-decoration: none;
}

/*----------------------------------- top grid/text section----------------------------------- */


main {
    width: 1460px;
}

.top-title {
    font-size: 50px;
    margin-top: 128px;
    color: white;
}

p {
    color: white;
    font-size: 20px;
}

.top-grid-container {
    width: 1460px;
    height: 950px;
    margin-top: 42px;
    display: grid;
    background-color: transparent;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 25px;
    grid-template-areas:
        "item1 item1 item2 item2 item3 item3"
        "item4 item4 item4 item5 item5 item5";
}

.grid-item-top {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
    text-align: center;
}


.grid-item-top-1 {
    grid-area: item1;
    background-color: #634F2C;
}

.grid-item-top-2 {
    grid-area: item2;
    background-color: #B4A385;
}

.grid-item-top-3 {
    grid-area: item3;
    background-color: #E4B564;
}

.grid-item-top-4 {
    grid-area: item4;
    background-color: #635A4A;
}

.grid-item-top-5 {
    grid-area: item5;
    background-color: #B08C4D;
}


/*----------------------------------- mid grid/text section----------------------------------- */

.mid-title {
    font-size: 50px;
    margin-top: 140px;
    color: white;
}

.mid-grid-container {
    width: 1460px;
    height: 900px;
    margin-top: 80px;
    margin-bottom: 370px;
    display: grid;
    background-color: transparent;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 15px;
    grid-template-areas:
        "item1 item2 item3"
        "item1 item2 item3"
        "item4 item2 item5"
        "item4 item6 item5"
        "item4 item6 item7"
        "item4 item6 item7";
}

.grid-item-mid {
    display: flex;
    justify-content: flex-start;
    color: white;
    font-size: 20px;
    padding: 45px;
}

.grid-item-mid-1 {
    grid-area: item1;
    background-color: #0E0E0E;
}

.grid-item-mid-2 {
    grid-area: item2;
    background-color: #242424;
}

.grid-item-mid-3 {
    grid-area: item3;
    background-color: #1F1F1F;
}

.grid-item-mid-4 {
    grid-area: item4;
    background-color: #1F1F1F;
}

.grid-item-mid-5 {
    grid-area: item5;
    background-color: #0E0E0E;
}

.grid-item-mid-6 {
    grid-area: item6;
    background-color: #E4B564;
}

.grid-item-mid-7 {
    grid-area: item7;
    background-color: #0A0909;
}

/*----------------------------------- foot grid/text section----------------------------------- */


.footer-flex {
    width: 1460px;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 71px;
}


.all-prod-buttom {
    display: flex;
    justify-content: center;
    align-items: center;
    Width: 180px;
    Height: 50px;
    border: 1px solid #E4B564;
    color: #E4B564;
    background-color: transparent;
    font-size: 18px;
}

.foot-text {
    color: #ffffff;
    font-size: 50px;
}

.foot-grid-container {
    width: 1460px;
    height: 782px;
    margin-top: 42px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
        "item1 item2 item3"
        "item4 item5 item6"
}

.grid-item-foot {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    color: white;
    font-size: 20px;
    text-align: center;
}


.grid-item-foot-1 {
    grid-area: item1;
    background-color: #634F2C;
}

.grid-item-foot-2 {
    grid-area: item2;
    background-color: #E8D2AB;
}

.grid-item-foot-3 {
    grid-area: item3;
    background-color: #E4B564;
}

.grid-item-foot-4 {
    grid-area: item4;
    background-color: #635A4A;
}

.grid-item-foot-5 {
    grid-area: item5;
    background-color: #B08C4D;
}

.grid-item-foot-6 {
    grid-area: item6;
    background-color: #634F2C;
}

.foot-grid-item-2-text {
    font-weight: bold;
}